* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
 }
 
 body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 34, 34);
 }
 body{
   
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 300% 300%;
      background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
      );  
      animation: AnimateBG 20s ease infinite;
    }
    
    @keyframes AnimateBG { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
 
 
 h1{
    color: transparent;
    position: absolute;
    font-family: monospace;
    white-space: nowrap;
    font-size: 200px;
 }
 
 h1:before{
    content: 'Hello Armenia';
    position: absolute;
    overflow: hidden;
    border-right: 2px solid black;
    color: white;
    text-shadow: 0 0 10px white;
    animation: type 10s steps(13) infinite;
 }
 
 
 @keyframes type{
    0%{
       width: 0%;
    }
    50%{
       width: 100%;
    }
    100%{
       width: 0%;
    }
 }